@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:color';

.dev_page_container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px 15px;

  h1 {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user_list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px 15px;
    .contact_card_container {
      // DEV
      border: 2px dashed red;
      font-size: $font-size-medium;
      // END DEV
      display: flex;
      flex-direction: row;
      gap: 20px;

      border-radius: 10px;

      padding: 10px;
      .contact_card_container_ico {
        background: $accent-color-light-theme;
        color: $button-text-color-light-theme;
        border-radius: 50%;
        padding: 10px;
      }
      .contact_card_container_name {
        display: flex;
        align-items: center;

        overflow: hidden;
        flex-wrap: nowrap;
      }
    }
  }

  .btn {
    @include btn_style_primary;
  }
}
