@use '../variables' as *;
@use '../mixins' as *;
// @use '../reset_all_styles';
@use 'sass:color';

:root[data-theme='dark'] {
  .login_page {
    background-color: $background-color-primary-dark-theme;
    color: $text-color-primary-dark-theme;

    form,
    .nav_line {
      background-color: $background-color-secondary-dark-theme;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

      .login_label,
      .password_label {
        border: 2px solid #414141;
        input {
          color: $text-color-primary-dark-theme;
        }

        transition: all 0.3s ease;
        &:hover {
          border: 2px solid $button-background-color-dark-theme;
        }
      }
    }

    .btn {
      background-color: $button-background-color-dark-theme;
      color: $button-text-color-dark-theme;

      transition: all 0.3s ease;
      &:hover {
        background-color: color.adjust($button-background-color-dark-theme, $lightness: 10%);
        cursor: pointer;
      }
    }
  }
}

.login_page {
  @include flex_center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;

  background-color: $background-color-primary-light-theme;
  color: $text-color-primary-light-theme;

  .nav_line {
    position: fixed;
    top: 0;
    width: calc(100% - 4%);
    margin-top: 1%;

    display: flex;

    gap: 20px;

    background-color: $background-color-secondary-light-theme;
    padding: 10px 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    .change_theme_btn {
      @include change_theme_btn;
    }
  }

  form {
    @include flex_center;
    flex-direction: column;
    gap: 20px;

    width: 50%;

    background-color: $background-color-secondary-light-theme;

    padding: 20px 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  .form_title {
    font-size: $font-size-large; // 32px
  }

  .login_label,
  .password_label {
    width: 50%;

    overflow: hidden;

    border: 2px solid $text-color-primary-light-theme;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    padding: 10px;

    transition: all 0.3s ease;
    &:hover {
      border: 2px solid $button-background-color-light-theme;
    }

    input {
      @include input_style_primary;
    }
  }

  .btn {
    @include btn_style_primary;
  }

  .change_theme_btn {
    @include change_theme_btn;
  }

  .back_btn {
    @include back_btn;
  }
}

// Styles for validation errors
.error_message {
  color: #ff4444;
  font-size: 0.8rem;
  // margin-top: 0.25rem;
  // font-weight: 500;
}

// Standart form error
.submit_error {
  text-align: center;
  // margin-bottom: 1rem;
  padding: 0.5rem;
  background: #ffe6e6;
  border-radius: 0.25rem;
}

// Red border for div with error
.login_label.input-error,
.password_label.input-error {
  // border-color: #ff4444;

  input::placeholder {
    color: #ff4444;
    opacity: 0.8;
  }
}
