@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:color';

:root[data-theme='dark'] {
  .messenger_page {
    background-color: $background-color-primary-dark-theme;
    color: $text-color-primary-dark-theme;

    .nav_line,
    .messenger_container,
    .contacts_panel,
    .contact_card_container,
    .contact_card_container_name,
    .contact_card_container_ico {
      background-color: $background-color-secondary-dark-theme;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .btn {
    background-color: $button-background-color-dark-theme;
    color: $button-text-color-dark-theme;

    transition: all 0.3s ease;
    &:hover {
      background-color: color.adjust($button-background-color-dark-theme, $lightness: 10%);
      cursor: pointer;
    }
  }
}

:root[data-theme='light'] {
  .messenger_page {
    @include flex_center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding: 1% 2%;

    background-color: $background-color-primary-light-theme;
    color: $text-color-primary-light-theme;

    .nav_line {
      position: static;
      flex-shrink: 0;
      width: 100%;

      display: flex;

      gap: 20px;

      background-color: $background-color-secondary-light-theme;
      padding: 10px 15px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 30px;

      .change_theme_btn {
        @include change_theme_btn;
      }

      .btn_log_out {
        width: auto;
      }
    }

    .messenger_container {
      flex: 1;
      width: 100%;
      gap: 20px;

      display: flex;

      background-color: $background-color-secondary-light-theme;
      padding: 10px 15px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 30px;

      .contacts_panel {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 30%;

        .contact_card_container {
          // DEV
          // border: 2px dashed red;
          // END DEV
          font-size: $font-size-medium;
          display: flex;
          flex-direction: row;
          gap: 20px;

          border-radius: 15px;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

          padding: 10px;

          .contact_card_container_ico {
            display: flex;
            align-items: center;

            flex-shrink: 0;
            background: $accent-color-light-theme;
            color: $button-text-color-light-theme;
            border-radius: 50%;
            padding: 10px;
          }
          .contact_card_container_name {
            display: flex;
            align-items: center;

            flex: 1;
            min-width: 0;

            white-space: nowrap;
            overflow: hidden;
            flex-wrap: nowrap;
          }
        }
      }
      .dialog_panel {
        display: flex;
        width: 70%;
        // Temporary
        // border: 2px solid red;
      }
    }

    .btn {
      @include btn_style_primary;
    }

    .back_btn {
      @include back_btn;
    }
  }
}
