@use 'variables' as *;
@use 'sass:color';

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Buttons
@mixin btn_style_primary {
  background-color: $button-background-color-light-theme;
  color: $button-text-color-light-theme;

  font-size: $font-size-small; // 18px
  width: 50%;

  padding: 10px 15px;
  border-radius: 10px;

  transition: all 0.3s ease;
  &:hover {
    background-color: color.adjust($button-background-color-light-theme, $lightness: -10%);
    cursor: pointer;
  }
}

@mixin back_btn {
  width: auto;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin change_theme_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(36px, 6vw, 56px);
  height: clamp(36px, 6vw, 56px);
  border-radius: 50%;
  box-sizing: border-box;

  padding: 6px;
  border: none;

  appearance: none;
  -webkit-appearance: none;

  .theme_ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
  }
}

// Inputs
@mixin input_style_primary {
  border: none;
  outline: none;
  background-color: transparent;
  color: $text-color-primary-light-theme;
  font-size: $font-size-small; // 18px
  width: 100%;
}
