* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}
input {
  border: none;
  outline: none;
  font-family: inherit;
}
ul,
li {
  list-style: none;
}
