// Color Palette

// Background Colors
// Light theme
$background-color-primary-light-theme: #cee2ff;
$background-color-secondary-light-theme: #d6e4fa;
// Dark theme
$background-color-primary-dark-theme: #080025;
$background-color-secondary-dark-theme: #0f0533;

// Text Colors
// Light theme
$text-color-primary-light-theme: #000000;
$text-color-secondary-light-theme: #424242;

$text-color-primary-dark-theme: #ffffff;
$text-color-secondary-dark-theme: #bdbdbd;

// Accent Colors
// Light theme
$accent-color-light-theme: #1976d2;

// Button Colors
// Light theme
$button-background-color-light-theme: #1976d2;
$button-text-color-light-theme: #ffffff;
// Dark theme
$button-background-color-dark-theme: rgba(197, 35, 202, 0.4);
$button-text-color-dark-theme: #ffffff;

// Fonst Sizes (OLD)
$font-size-small: 18px;
$font-size-medium: 24px;
// $font-size-large: 32px;
$font-size-xlarge: 48px;

// Font Sizes (NEW)
$font-size-mobile: 0.875rem; //14px
$font-size-tablet: 1rem; //16px
$font-size-base-small: 1.125rem; // 18px
$font-size-base: 1.5rem; //24px
$font-size-large: 2rem; // 32px
