// Color Palette
// Background Colors
$background-color-primary-light-theme: #cee2ff;
$background-color-secondary-light-theme: #d6e4fa;
$background-color-primary-dark-theme: #001330;
$background-color-secondary-dark-theme: #004d40;
// Text Colors
$text-color-primary-light-theme: #000000;
$text-color-secondary-light-theme: #424242;
$text-color-primary-dark-theme: #ffffff;
$text-color-secondary-dark-theme: #bdbdbd;
// Accent Colors
$accent-color-light-theme: #1976d2;
$accent-color-dark-theme: #90caf9;
// Button Colors
$button-background-color-light-theme: #1976d2;
$button-background-color-dark-theme: #90caf9;
$button-text-color-light-theme: #ffffff;
$button-text-color-dark-theme: #000000;
// Fonst Sizes
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
